CasaCambioCliente/src/wsdl/localhost_8080/CasaCambio/CasaCambio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://cc.ws.casacambio.edu.uniminuto.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cc.ws.casacambio.edu.uniminuto.com/">

<xs:element name="cambiaDolaresASoles" type="tns:cambiaDolaresASoles"/>

<xs:element name="cambiaDolaresASolesResponse" type="tns:cambiaDolaresASolesResponse"/>

<xs:element name="cambiarAMonedaGenerica" type="tns:cambiarAMonedaGenerica"/>

<xs:element name="cambiarAMonedaGenericaResponse" type="tns:cambiarAMonedaGenericaResponse"/>

<xs:element name="cambiarSolesADolares" type="tns:cambiarSolesADolares"/>

<xs:element name="cambiarSolesADolaresResponse" type="tns:cambiarSolesADolaresResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="cambiarAMonedaGenerica">
<xs:sequence>
<xs:element name="monto" type="xs:double"/>
<xs:element name="conversion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarAMonedaGenericaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiaDolaresASoles">
<xs:sequence>
<xs:element name="monto" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiaDolaresASolesResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarSolesADolares">
<xs:sequence>
<xs:element name="monto" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarSolesADolaresResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>