CasaCambioCliente/src/wsdl/localhost_8081/CasaCambio/CasaCambio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cc.ws.casacambio.edu.uniminuto.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cc.ws.casacambio.edu.uniminuto.com/" name="CasaCambio">
<types>
<xsd:schema>
<xsd:import namespace="http://cc.ws.casacambio.edu.uniminuto.com/" schemaLocation="http://localhost:8081/CasaCambio/CasaCambio?xsd=1"/>
</xsd:schema>
</types>
<message name="cambiarAMonedaGenerica">
<part name="parameters" element="tns:cambiarAMonedaGenerica"/>
</message>
<message name="cambiarAMonedaGenericaResponse">
<part name="parameters" element="tns:cambiarAMonedaGenericaResponse"/>
</message>
<message name="cambiaDolaresASoles">
<part name="parameters" element="tns:cambiaDolaresASoles"/>
</message>
<message name="cambiaDolaresASolesResponse">
<part name="parameters" element="tns:cambiaDolaresASolesResponse"/>
</message>
<message name="cambiarSolesADolares">
<part name="parameters" element="tns:cambiarSolesADolares"/>
</message>
<message name="cambiarSolesADolaresResponse">
<part name="parameters" element="tns:cambiarSolesADolaresResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="CasaCambio">
<operation name="cambiarAMonedaGenerica">
<input wsam:Action="http://cc.ws.casacambio.edu.uniminuto.com/CasaCambio/cambiarAMonedaGenericaRequest" message="tns:cambiarAMonedaGenerica"/>
<output wsam:Action="http://cc.ws.casacambio.edu.uniminuto.com/CasaCambio/cambiarAMonedaGenericaResponse" message="tns:cambiarAMonedaGenericaResponse"/>
</operation>
<operation name="cambiaDolaresASoles">
<input wsam:Action="http://cc.ws.casacambio.edu.uniminuto.com/CasaCambio/cambiaDolaresASolesRequest" message="tns:cambiaDolaresASoles"/>
<output wsam:Action="http://cc.ws.casacambio.edu.uniminuto.com/CasaCambio/cambiaDolaresASolesResponse" message="tns:cambiaDolaresASolesResponse"/>
</operation>
<operation name="cambiarSolesADolares">
<input wsam:Action="http://cc.ws.casacambio.edu.uniminuto.com/CasaCambio/cambiarSolesADolaresRequest" message="tns:cambiarSolesADolares"/>
<output wsam:Action="http://cc.ws.casacambio.edu.uniminuto.com/CasaCambio/cambiarSolesADolaresResponse" message="tns:cambiarSolesADolaresResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://cc.ws.casacambio.edu.uniminuto.com/CasaCambio/helloRequest" message="tns:hello"/>
<output wsam:Action="http://cc.ws.casacambio.edu.uniminuto.com/CasaCambio/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="CasaCambioPortBinding" type="tns:CasaCambio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cambiarAMonedaGenerica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiaDolaresASoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarSolesADolares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CasaCambio">
<port name="CasaCambioPort" binding="tns:CasaCambioPortBinding">
<soap:address location="http://localhost:8081/CasaCambio/CasaCambio"/>
</port>
</service>
</definitions>